
<div class="row">
	<div class="label">CURRENT POSITION:</div>
	<div class="value">@currentPosition</div>
</div>
 

@code {
	[Parameter]
	public int currentPosition { get; set; }


    [Parameter]
	public EventCallback<int> currentPositionChanged { get; set; }

    

}
