@inject ICurrentPositionViewModel _viewModel

<div class="row">
	<div class="label">CURRENT POSITION:</div>
	<div class="value">@_viewModel.currentPosition</div>
</div>
 

@code {		

	protected override Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			_viewModel.StateHasChanged = StateHasChanged;
		}
		return base.OnAfterRenderAsync(firstRender);
	}

	



}
