
<div class="length-component">
	<div class="row">
		<button></button>
		<div class="label">AC</div>		
	</div>
	<div class="row">
		<button></button>
		<div class="label">AS</div>
	</div>
	<div class="row">
		<button></button>
		<div class="label">LS</div>
	</div>
	<div class="row">
		<button></button>
		<div class="label">LD</div>
	</div>
</div>


@code {

}
