@using FabricCutter.UI.Logic
@inject IMarkersCommandViewModel ViewModel

<div class="length-component">
	<div class="row">
		@if (ViewModel.IsStartMarkerEnable)
		{
			<button type="button" class="marker-button" @onclick=@ViewModel.StartMarker></button>
		}
		else
		{
			<button type="button" class="marker-button" disabled></button>
		}
		
		<div class="label">AC</div>		
	</div>
	<div class="row">
		@if (ViewModel.IsStartSubMarkerEnable)
		{
			<button type="button" class="marker-button" @onclick=@ViewModel.StartSubMarker></button>
		}
		else
		{
			<button type="button" class="marker-button" disabled></button>
		}
		
		<div class="label">AS</div>
	</div>
	<div class="row">
		@if (ViewModel.IsEndSubMarkerEnable)
		{
			<button type="button" class="marker-button" @onclick=@ViewModel.EndSubMarker></button>
		}
		else
		{
			<button type="button" class="marker-button" disabled></button>
		}
		<div class="label">LS</div>
	</div>
	<div class="row">
		@if (ViewModel.IsEndMarkerEnable)
		{
			<button type="button" class="marker-button" @onclick=@ViewModel.EndMarker></button>
		}
		else
		{
			<button type="button" class="marker-button" disabled></button>
		}
		<div class="label">LD</div>
	</div>
</div>


@code {

	

	

}
