@using FabricCutter.UI.Logic
@inject IMarkersCommandViewModel _viewModel

<div class="length-component">
	<div class="row">
		@if (_viewModel.IsStartMarkerEnable)
		{
			<button type="button" class="marker-button" @onclick=@_viewModel.StartMarker></button>
		}
		else
		{
			<button type="button" class="marker-button" disabled></button>
		}
		
		<div class="label">AC</div>		
	</div>
	<div class="row">
		@if (_viewModel.IsStartSubMarkerEnable)
		{
			<button type="button" class="marker-button" @onclick=@_viewModel.StartSubMarker></button>
		}
		else
		{
			<button type="button" class="marker-button" disabled></button>
		}
		
		<div class="label">AS</div>
	</div>
	<div class="row">
		@if (_viewModel.IsEndSubMarkerEnable)
		{
			<button type="button" class="marker-button" @onclick=@_viewModel.EndSubMarker></button>
		}
		else
		{
			<button type="button" class="marker-button" disabled></button>
		}
		<div class="label">LS</div>
	</div>
	<div class="row">
		@if (_viewModel.IsEndMarkerEnable)
		{
			<button type="button" class="marker-button" @onclick=@_viewModel.EndMarker></button>
		}
		else
		{
			<button type="button" class="marker-button" disabled></button>
		}
		<div class="label">LD</div>
	</div>
</div>


@code {

	

	

}
