@inject IReciperCommandViewModel _viewModel

<div class="recipe-command-length-component">
	<div class="recipe-command-row">
		<button type="button" class="recipe-command-marker-button" @onclick=@_viewModel.OnConfirm></button>
		<div class="recipe-command-label">CONFIRM</div>
	</div>
	<div class="recipe-command-row">
		<button type="button" class="recipe-command-marker-button" @onclick=@_viewModel.OnReset></button>
		<div class="recipe-command-label">RESET</div>
	</div>
</div>


@code {
	protected override void OnInitialized()
	{
		_viewModel.StateHasChanged = StateHasChanged;
		base.OnInitialized();
	}

}
