
.recipe-command-length-component {
    padding: 10px;
    margin-bottom: 20px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.recipe-command-row {
    display: inline-block;
    align-items: center;
    margin: 10px;
}

.recipe-command-label {
    width: 100px;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    display: inline;
    justify-content: center;
    align-items: center;
}

.recipe-command-marker-button {
    display: flex;
    flex-direction: column;
    height: 5rem;
    width: 5rem;
}

