

<div class="length-component">
	<div class="row">
		<button></button>
		<div class="label">CONFIRM</div>
	</div>
	<div class="row">
		<button></button>
		<div class="label">RESET</div>
	</div>
</div>


@code {

}
