

.slider-container {        
    width: 100%;        
    
}

.slider-header {
    background-color: #f1f1f1;
    z-index: 10;
    height: 3vh;
    border-bottom: 3px solid gray;
}
.slider-content {
    background-color: #f1f1f1;
    height: 30vh;
    border:3px solid gray;
}
