@using FabricCutter.UI.Logic

<div class="slider-container">

	<div class="slider-content">
	<div class="slider-header"></div>
		@foreach (var marker in Slider.Markers)
		{
			<MarkersComponent Marker=@marker  ></MarkersComponent>
		}
	</div>
	<input type="range" class="slider-range" min="0" max=@Slider.SliderLenght value=@Slider.PointerPosition @onchange=@OnChange />

</div>




@code {
	[Parameter]
	public ISlider Slider { get; set; }
	
	[Parameter]
	public EventCallback<ISlider> SliderChanged { get; set; }

	protected void OnChange(ChangeEventArgs e)
	{
		Slider.PointerPosition = Convert.ToInt32(e.Value);
		SliderChanged.InvokeAsync(Slider);
	}


	protected override void OnInitialized()
	{
		
	}

}
