
<div class="slider-container">

	<div class="slider-content">
	<div class="slider-header"></div>
		<MarkersComponent end="z-index:106; right:500px; " start="z-index:106; right:700px; t " idx="z-index:106; right:600px;"></MarkersComponent>
		<MarkersComponent end="z-index:101; right:550px; " start="z-index:101; right:750px; " idx="z-index:101; right:650px;"></MarkersComponent>
		
		<SubMarkersComponent></SubMarkersComponent>

	</div>

	
</div>




@code {

}
