@page "/"
@layout FullPageLayout
@inject IRecipeViewModel ViewModel;

<div class="main">

	<CurrentPositionComponent ></CurrentPositionComponent>
	<RecipeInformationComponent RecipeInformation=@ViewModel.Recipe.RecipeInformation></RecipeInformationComponent>
	<SliderComponent @bind-Slider=@ViewModel.Recipe.Slider></SliderComponent>	
	<MarkersCommandComponent 
		MarkersCommand=@ViewModel.Recipe.MarkersCommand 
		OnAddNewMarkerComplete=@ViewModel.OnAddNewMarkerComplete>
	</MarkersCommandComponent>
	<ReciperCommandComponent></ReciperCommandComponent>
</div>

@code {
    protected override void OnInitialized()
    {
        ViewModel.StateHasChenged = StateHasChanged;
       
		
    }
}
 