@page "/"
@layout FullPageLayout

<div class="main">

	<CurrentPositionComponent></CurrentPositionComponent>	
	<RecipeInformationComponent></RecipeInformationComponent>	
	<SliderComponent></SliderComponent>
	
	<MarkersCommandComponent></MarkersCommandComponent>
	<ReciperCommandComponent></ReciperCommandComponent>
</div>


@code {
	private string currentPosition = "3060";
	private string initialPosition = "";
	private string finalPosition = "";
	private bool isHighlighted = false;
	private bool isACButtonDisabled = false;
	private bool isSTOPButtonDisabled = true;
	private bool isLDButtonDisabled = true;
	private string view = "START";

	private int marker1Left = 0;
	private int marker2Left = 0;
	private int highlightLeft = 0;
	private int highlightWidth = 0;

	private void ChangeView()
	{
		if (view == "START")
		{
			view = "END";
		}
		else
		{
			view = "START";
		}
	}

	private void HandleACButtonClicked()
	{
		initialPosition = currentPosition;
		isACButtonDisabled = true;
		isSTOPButtonDisabled = false;
		isLDButtonDisabled = false;
	}

	private void HandleSTOPButtonClicked()
	{
		if (!string.IsNullOrEmpty(initialPosition))
		{
			isHighlighted = true;
			highlightLeft = marker1Left;
			highlightWidth = marker2Left - marker1Left;
		}
	}

	private void HandleLDButtonClicked()
	{
		finalPosition = currentPosition;
	}

	private void Reset()
	{
		currentPosition = "3060";
		initialPosition = "";
		finalPosition = "";
		isHighlighted = false;
		isACButtonDisabled = false;
		isSTOPButtonDisabled = true;
		isLDButtonDisabled = true;
		marker1Left = 0;
		marker2Left = 0;
		highlightLeft = 0;
		highlightWidth = 0;
	}

	protected override void OnInitialized()
	{
		base.OnInitialized();
		marker1Left = GetLeftPosition(initialPosition);
		marker2Left = GetLeftPosition(finalPosition);
	}

	private int GetLeftPosition(string position)
	{
		int left = 0;
		if (!string.IsNullOrEmpty(position))
		{
			left = int.Parse(position.Substring(0, 2)) * 10;
			left += int.Parse(position.Substring(2, 2));
			left *= 10;
		}
		return left;
	}

	private string marker1Style => $"left: {marker1Left}px;";
	private string marker2Style => $"left: {marker2Left}px;";
}