@page "/"
@layout FullPageLayout
@inject IRecipeViewModel ViewModel;

<div class="main">

	<CurrentPositionComponent ></CurrentPositionComponent>
	<RecipeInformationComponent ></RecipeInformationComponent>
	<SliderComponent @bind-Slider=@ViewModel.Recipe.Slider></SliderComponent>	
	<MarkersCommandComponent></MarkersCommandComponent>
	<ReciperCommandComponent></ReciperCommandComponent>
</div>

@code {
    protected override void OnInitialized()
    {
        ViewModel.StateHasChenged = StateHasChanged;
       
		
    }
}
 